@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
    // background-color: #24942d !important;
}

p{
    font-family: "Inter", sans-serif;
}

// header section

.dropdown {
  font-family: "Inter", sans-serif;
  a {
    font-size: 16px;
    color: rgb(173, 173, 173);
    font-weight: 650;

    &:hover {
      color: #1e1e1e;
    }
  }
  ul {
    li {
      font-size: 16px;
      color: rgb(173, 173, 173);
      font-weight: 650;
    }
  }
}

.header_right {
  font-family: "Inter", sans-serif;
  li {
    font-size: 16px;
    color: rgb(173, 173, 173);
    font-weight: 650;
    cursor: pointer;
    &:hover {
      color: #1e1e1e;
    }
  }
  .suport_btn {
    color: rgb(173, 173, 173);
    border: 2px solid rgb(173, 173, 173);
    border-radius: 50px;
    padding: 5px 15px;
    &:hover {
      color: #1e1e1e;
      border-color: #1e1e1e;
    }
  }
}

.navbar {
  font-family: "Inter", sans-serif;
  .nav-link {
    font-size: 20px;
    padding: 16px 18px 0;
    color: #1e1e1e;
    font-weight: 500;
    margin: 0 20px;
  }
}
.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none !important;
    position: relative;
    border-bottom: 2px solid #000;
    transition: all 300ms linear;
  }
  .navbar .navbar-toggler-icon:after,
  .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #000;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
  }
  .navbar .navbar-toggler-icon:after {
    top: 8px;
  }
  
  .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg) !important;
  }
  .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg) !important;
  }
  .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent !important;
  }
  
  .navbar-toggler {
    border: none !important;
  }
// header section end

// hero section
.hero_section {
  padding: 32px 20px;

  .container {
    padding: 72px 10px 0;
  }

  .hero_left {
    h2 {
      font-size: 5rem;
      color: #1e1e1e;
      font-weight: 800;
      margin-bottom: 16px;
    }
    p {
      font-size: 24px;
      color: #1e1e1e;
      font-weight: 400;
      margin-bottom: 16px;
    }
    a {
      text-decoration: none;
      color: #e6007a;
      border: 2px solid #e6007a;
      padding: 14px 22px;
      border-radius: 30px;
      font-size: 18px;
      font-weight: 650;
      background: linear-gradient(to right, #e6007a 50%, transparent 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.2s ease-out;
      &:hover {
        background-position: left bottom;
        color: #fff;
        transform: scale(1.1);
        border: none;
      }
    }
  }
}
// hero section end

// card section
.card_section {
  .container {
    padding: 146px 20px 0;
  }
  .card {
    h5 {
      font-size: 28px;
      font-weight: 650;
    }
    p {
      font-size: 18px;
      font-weight: 400;
    }
  }
}
.card_bottom {
  padding: 0 0 96px;
  h3 {
    font-size: 2.7rem;
    font-weight: 700;
  }
  a {
    text-decoration: none;
    color: #e6007a;
    border: 2px solid #e6007a;
    padding: 14px 20px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 650;
    background: linear-gradient(to right, #e6007a 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.2s ease-out;
    &:hover {
      background-position: left top;
      color: #fff;
      transform: scale(1.1) !important;
      border: none !important;
    }
  }
}
// card section end

// network section
.network_section {
  // padding: 0 0 0px;
  background-color: #172026;
  .container {
    padding: 96px 0 0;

    h2 {
      color: #fff;
      font-size: 3.6rem;
      font-weight: 600;
    }
    p {
      color: #fff;
      font-size: 24px;
      margin: 36px 0 0;
    }
    .card {
      background-color: #172026;
      .card-body {
        h5 {
          font-size: 24px;
          color: #fff;
        }
        p {
          font-size: 19px;
          font-weight: 500;
        }
      }
    }
  }
}

// network section end

// protocol section
.protocol_section {
  background-color: #e6007a;
  .container {
    padding: 96px 0;
    h2 {
      color: #fff;
      font-size: 3.4rem;
      font-weight: 800;
      margin: 0 0 16px;
    }
    p {
      font-size: 1.5rem;
      color: #fff;
      margin: 0 0 16px;
      font-weight: 400;
    }
  }
}
// protocol section end

// Team section
.team_section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("./media/images/team.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;

  h2 {
    font-size: 5rem;
    font-weight: 700;
  }
  button {
    text-decoration: none;
    color: #fff;
    border: 2px solid #e6007a;
    padding: 14px 20px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 650;
    background: transparent;
    background: linear-gradient(to right, #e6007a 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.2s ease-out;
    &:hover {
      background-position: left top;
      transform: scale(1.1);
      color: #fff;
      // border: none;
    }
  }
}
// Team section end

// Blog section Start
.blog_section {
  .container {
    padding: 96px 20px;

    h2 {
      font-size: 3.6rem;
      font-weight: 700;
    }
    .card {
      small {
        color: #e6007a;
        font-size: 18px;
        font-weight: 500;
      }
      h5 {
        font-size: 22px;
        font-weight: 600;
        margin: 0 0 16px;
      }
      p {
        font-size: 18px;
      }
      .card_footer {
        span {
          font-size: 20px;
          color: #1e1e1e;
          font-weight: 500;
        }
      }
    }
  }
  .blog_botm {
    padding: 72px 0 144px;
    h3 {
      font-size: 3.7rem;
      font-weight: 700;
    }
    a {
      text-decoration: none;
      color: #e6007a;
      border: 2px solid #e6007a;
      padding: 16px 20px;
      border-radius: 30px;
      font-size: 18px;
      font-weight: 650;
      background: linear-gradient(to right, #e6007a 50%, transparent 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.2s ease-out;
      &:hover {
        background-position: left bottom;
        transform: scale(1.1);
        color: #fff;
        border: none;
      }
    }
    p {
      color: #1e1e1e;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
// Blog section end

.msg_img {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 40px;
  display: flex;
  justify-content: end;
  z-index: 1;
  padding: 20px;
  img {
    width: 20%;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #e6007a;
    &:hover {
      transform: scale(1.1);
    }
  }
}
// Footer section
.footer {
  .container {
    padding: 96px 0 36px;

    .list {
      p {
        font-size: 24px;
        font-weight: 700;
      }
      li {
        padding: 6px 0;
        a {
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;

          color: #b7b8bb;
          cursor: pointer;

          &:hover {
            color: #fff;
          }
        }
      }
    }
    .icons {
      p {
        font-size: 18px;
        color: #b7b8bb;
        font-weight: 500;
      }
      button {
        background-color: transparent;
        text-decoration: none;
        color: #fff;
        border: 2px solid #e6007a;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 650;

        background: linear-gradient(to right, #e6007a 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.2s ease-out;
        &:hover {
          background-position: left top;
          transform: scale(1.1) !important;
          
        }
      }
    }
  }
}
// Footer section end

@media screen and (max-width: 600px) {
  .hero_left {
    h2 {
      font-size: 2.5rem !important;
      color: #1e1e1e;
      font-weight: 600;
      margin-bottom: 16px;
    }
    a {
      padding: 12px 14px !important;

      font-size: 15px !important;
      font-weight: 650;
    }
  }
  .msg_img {
    margin-right: 45px !important;
    margin-bottom: 40px !important;
  }
  .hero_before_img{
        width: 260px !important;
  }
  .hero_after_img {
    img {
      width: 260px !important;
    }
  }
  .team_section{
    h2{
        font-size: 2.5rem !important;
        font-weight: 600;
    }
    .team_btn{
        padding: 7px 12px;
    font-size: 14px;
    }
  }
  .network_section{
    p {
        font-size: 18px !important;
      }
  }
}

//////////////////////////////////////////////////// Technology page Start//////////////////////////////////////////////
.tecnolgy_hero {
  .container {
    padding: 36px 0;

    .row {
      padding: 72px 12px;
      h2 {
        font-size: 4rem;
        font-weight: 800;
        margin: 0 0 36px;
      }
    }
  }
}
// Technology page end

// Blockchain section
.blockchain_bg {
  background-color: #172026;
  // height: 100vh;
  .row {
    // padding: 96px 0;
  }
  .blockchain_img {
    overflow: hidden !important;
    img {
      width: 100%;
      transform: scale(1.4) !important;
    }
  }
  h2 {
    font-size: 35px;
    font-weight: 750;
    margin: 0 0 16px;
  }
  h5 {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 16px;
  }
  p {
    font-size: 19px;
    font-weight: 400;
    margin: 0 0 16px;
  }
  .card {
    border: none;
    cursor: pointer;
    h6 {
      color: #000;
      font-size: 22px;
      margin-bottom: 6px;
    }
    p {
      color: #1e1e1e;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .card-body {
    padding: 8px;
    img {
      width: 20%;
    }
  }
}
// Blockchain section end

// Network section
.network_bg {
  background-color: #e6007a;
  .container {
    padding: 96px 0;
    .network_txt {
      color: #fff;
      padding: 72px 82px;
      h2 {
        font-size: 44px;
        font-weight: 800;
        margin-bottom: 16px;
      }
      p {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}
// Network section end

// Connect section start
.connect_bg {
  .container {
    padding: 96px 20px;
    h2 {
      font-size: 44px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    h3 {
      font-size: 22px;
      font-weight: bold;
    }
    p {
      font-size: 18px;
      margin: 0 0 16px;
      font-weight: 400;
    }
  }
}
// Connect section end

// Best tech start
.best_bg {
  background-color: #efefef;
  .container {
    padding: 72px 96px;
    h2 {
      font-size: 44px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    p {
      font-size: 18px;
      margin: 0 0 16px;
      font-weight: 500;
    }
  }
}
// Best tech end

// Transection section start
.trnsection_bg {
  background-color: #172026;
  .container {
    padding: 96px 20px;
    h2 {
      font-size: 44px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    p {
      color: #fff;
      font-size: 22px;
      margin: 0 0 16px;
      font-weight: 400;
    }
    button {
      background-color: transparent;
      text-decoration: none;
      color: #fff;
      border: 2px solid #fff;
      padding: 10px 20px;
      border-radius: 30px;
      font-size: 18px;
      font-weight: 650;
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.2s ease-out;
      &:hover {
        background-position: left top;
        background-color: #fff;
        color: #e6007a;
        transform: scale(1.1);
      }
    }
  }
  strong {
    color: #fff;
    font-size: 22px;
  }
  h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
}
// Transection section end

// Ground section
.ground_bg {
  background-color: #e6007a;
  .container {
    padding: 96px 0;
    .ground_txt {
      color: #fff;
      padding: 72px 82px;
      h2 {
        font-size: 4rem;
        font-weight: 800;
        margin-bottom: 16px;
      }
      p {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}
// Ground section end

// Grid section start
.grid_bg {
  .container {
    padding: 96px 0 72px;
    // padding: 24px 12px 0;
    h1 {
      font-size: 40px;
      font-weight: 700;
    }
    p {
      color: #1e1e1e;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
// Grid section end

// Roadmap section
.roadmap_bg {
  background-color: #e6007a;
  .container {
    padding: 96px 0;
    .roadmap_txt {
      color: #fff;
      padding: 72px 82px;
      h2 {
        font-size: 44px;
        font-weight: 800;
        margin-bottom: 16px;
      }
      p {
        font-size: 20px;
        font-weight: 500;
      }
      button {
        background-color: transparent;
        text-decoration: none;
        color: #fff;
        border: 2px solid #fff;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 650;
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.2s ease-out;
        &:hover {
          background-position: left top;
          background-color: #fff;
          color: #e6007a;
          transform: scale(1.1);
        }
      }
    }
  }
}
// Roadmap section end

// Card section start
.card_bg {
  .container {
    padding: 96px 0;
    h2 {
      font-size: 44px;
      font-weight: 800;
      margin-bottom: 16px;
    }
    .card {
      border: none;
      p {
        font-size: 18px;
        font-weight: 400;
       
      }
    }
  }
}
// card section end

// Start Section
.start_bg{
    .container {
        padding: 96px 0;
        h2 {
            font-size: 44px;
            font-weight: 800;
            margin-bottom: 16px;
          }
          button {
            background-color: transparent;
            text-decoration: none;
            color: #e6007a;
            border: 2px solid #e6007a;
            padding: 10px 20px;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 650;
    
            background: linear-gradient(to right, #e6007a 50%, transparent 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 0.2s ease-out;
            &:hover {
              background-position: left top;
              transform: scale(1.1);
              color: #fff;
            }
          }
}
}

@media screen and (max-width: 600px) {
    .tecnolgy_hero{
        h2{
            font-size: 2.5rem !important;
      color: #1e1e1e;
      font-weight: 600;
      margin-bottom: 16px;
        }
    }
    .ground_bg{
        h2{
            font-size: 2.5rem !important;
        font-weight: 600;
        text-align: center !important;
        margin-bottom: 16px;
        }
    }
    .card_top{
        margin-top: 30px !important;
    }
}
// Start Section end


/////////////////////////////////////////////// Community Page start /////////////////////////////////////////////////

// Hero section
.com_hero{
    padding: 36px 0;
    .container{
        padding: 72px 12px;
        h2 {
            font-size: 5rem;
            font-weight: 800;
            margin-bottom: 16px;
          }
          p {
            font-size: 24px;
            font-weight: 400;
          }
    }
}
// Hero End
@media screen and (max-width: 600px) {
    .com_hero{
        h2{
            font-size: 3rem !important;
            font-weight: 700;
        }
    }
}
// Card section
.card_back{
    background-color: #172026;
    .contain{
        padding: 96px 20px;
        
    }
    .row{
        img{
            width: 20%;
        }
        .card{
            border-radius: 30px;
            h6{
                color: #000 !important;
                font-size: 20px;
            }
            small{
                font-size: 16px;
            }
        }
    }
    p{
        font-size: 22px;
        span{
            font-size: 15px;
            font-weight: bold;
            background-color: transparent;
            text-decoration: none;
            color: #fff;
            border: 1px solid #e6007a;
            padding: 2px 6px;
            border-radius: 30px;
            cursor: pointer;
            &:hover {
              transform: scale(1.8) !important;
              color: #fff !important;
              background-color: #e6007a;
            }
        }
    }
   
}
// Card section end

// Invoved section
.involved_bg{
    background-color: #e6007a;
    .container {
      padding: 96px 0;
      .involved_txt {
        color: #fff;
        padding: 72px 82px;
        h2 {
          font-size: 44px;
          font-weight: 800;
          margin-bottom: 16px;
        }
        p {
          font-size: 20px;
          font-weight: 500;
        }
    }
}
}
// Invoved section end


// Validater start 
.validater_bg{
    .container{
        padding: 96px 20px;
        h2 {
            font-size: 50px;
            font-weight: 800;
            margin-bottom: 16px;
          }
          h3{
            font-weight: bold;
          }
          p{
            color: #1e1e1e;
            font-size: 20px;
            font-weight: 400;
          }
          li{
              color: #1e1e1e;
              font-size: 20px;
              font-weight: 400;
              span{
                  font-size: 16px;
                  color: #e6007a;
              }
          }
          button {
            background-color: transparent;
            text-decoration: none;
            color: #e6007a;
            border: 2px solid #e6007a;
            padding: 10px 20px;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 650;
    
            background: linear-gradient(to right, #e6007a 50%, transparent 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 0.2s ease-out;
            &:hover {
              background-position: left top;
              transform: scale(1.1);
              color: #fff;
            }
          }
    }
}
// Validater end

// Ambasidor section start
.ambasidor_bg{
    background-color: #efefef;
    .container{
        padding: 96px 20px;
        h2 {
            font-size: 50px;
            font-weight: 800;
            margin-bottom: 16px;
          }
          p{
            color: #1e1e1e;
            font-size: 20px;
            font-weight: 400;
          }
          button {
            background-color: transparent;
            text-decoration: none;
            color: #e6007a;
            border: 2px solid #e6007a;
            padding: 10px 20px;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 650;
    
            background: linear-gradient(to right, #e6007a 50%, transparent 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 0.2s ease-out;
            &:hover {
              background-position: left top;
              transform: scale(1.1);
              color: #fff;
            }
          }
    }
}
// Ambasidor section end

// Events section start
.event_bg{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgb(0,0,0,0.5)), url('./media/images/event.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .container{
        padding: 70px 20px;
        h2 {
            font-size: 50px;
            font-weight: 800;
            margin-bottom: 16px;
          }
          p{
            color: #1e1e1e;
            font-size: 20px;
            font-weight: 400;
          }
          button {
            background-color: transparent;
            text-decoration: none;
            color: #e6007a;
            border: 2px solid #e6007a;
            padding: 10px 20px;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 650;
    
            background: linear-gradient(to right, #e6007a 50%, transparent 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 0.2s ease-out;
            &:hover {
              background-position: left top;
              transform: scale(1.1);
              color: #fff;
            }
          }
    }
}
// Events section end

// Chat section start
.chat_bg{
    .container{
        padding: 96px 0;
        h2 {
            font-size: 50px;
            font-weight: 800;
            margin-bottom: 16px;
          }
          p{
            color: #1e1e1e;
            font-size: 20px;
            font-weight: 400;
          }
          button {
            background-color: transparent;
            text-decoration: none;
            color: #e6007a;
            border: 2px solid #e6007a;
            padding: 10px 20px;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 650;
    
            background: linear-gradient(to right, #e6007a 50%, transparent 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 0.2s ease-out;
            &:hover {
              background-position: left top;
              transform: scale(1.1);
              color: #fff;
            }
          }
    }
}
// Chat section end


/////////////////////////////////////////////// About page start ///////////////////////////////////////////////

.mission_bg{
    background-color: #172026;
    .container{
        padding: 96px 20px;

        h3{
            font-weight: 800;
            font-size: 44px;
            color: white;
            margin: 0 0 16px;
        }
        p{
            font-size: 20px;
            color: #fff;
            margin: 36px 0 16px;
        }button {
            background-color: transparent;
            text-decoration: none;
            color: #e6007a;
            border: 2px solid #e6007a;
            padding: 10px 20px;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 650;
    
            background: linear-gradient(to right, #e6007a 50%, transparent 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 0.2s ease-out;
            &:hover {
              background-position: left top;
              transform: scale(1.1);
              color: #fff;
            }
          }
    }
}

// Banner secction start
.banner_bg{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgb(0,0,0,0.5)) ,url('./media/images/banner\ \(2\).jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    .container{
        padding: 96px 0;
        h2{
            font-size: 50px;
            font-weight: 800;
            margin-bottom: 16px;
        }
    }
}
.bottom_card{
    margin-top: -34px;
    .card{
        border: none;
        border-radius: 25px;
        height: 100%;
        h3{
            font-size: 22px;
            font-weight: bold;
            &:hover{
                cursor: pointer;
                color: #e6007a;
            }
        }
        small{
            font-size: 18px;
            font-weight: 400;
        }
        p{
            font-size: 17px;
            color: #1e1e1e;
        }
    }
}
.bottom_logo{
    padding: 96px 0;
    .container{
        h4{
            font-size: 42px;
            font-weight: 800;
            margin-bottom: 16px;
        }
    }
}
// Banner secction end

// Touch section 
.touch_bg{
    background-color: #172026;
    .container{
        padding: 96px 10px;
        .card{
            border-radius: 20px;
            cursor: pointer;
            img{
                width: 15%;
            }
            h2{
                font-size: 50px;
                font-weight: 800;
                margin-bottom: 16px;
            }
            h6{
                font-size: 20px;
                font-weight: bold;
                color: #1e1e1e !important;
            }
            small{
                font-size: 15px;
                font-weight: 600;

                span{
                    color: #e6007a;
                }
            }
        }
        h5{
            font-size: 50px;
            font-weight: 800;
            margin-bottom: 16px;
        }
        p{
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 16px;
        }
    }   
}
// Touch section end


// ////////////////////////////////////////Blog Page start////////////////////////////////////////////////////

.blog_card{
    .container{
        padding: 96px 0;
        h2{
            font-size: 55px;
            font-weight: 800;
            margin-bottom: 16px;
        }
        small{
            
            font-size: 17px;
            color: #e6007a;
            font-weight: bold;
        }
        p{
            font-size: 18px;

        }
    }
    .blog_botm{
        h3{
            font-size: 46px;
            font-weight: 800;
            margin-bottom: 16px;
        }
        button {
            background-color: transparent;
            text-decoration: none;
            color: #e6007a;
            border: 2px solid #e6007a;
            padding: 10px 20px;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 650;
    
            background: linear-gradient(to right, #e6007a 50%, transparent 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 0.2s ease-out;
            &:hover {
              background-position: left top;
              transform: scale(1.1);
              color: #fff;
            }
          }
    }
}

///////////////////////////////////////////Build Section start////////////////////////////////////////////////////
.build_bg{
    .container{
        padding: 96px 20px;
        h2{
            font-size: 54px;
            font-weight: 800;
            margin-bottom: 16px;
        }
        p{
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 16px;
        }
        button {
            background-color: transparent;
            text-decoration: none;
            color: #e6007a;
            border: 2px solid #e6007a;
            padding: 15px 20px;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 650;
    
            background: linear-gradient(to right, #e6007a 50%, transparent 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 0.2s ease-out;
            &:hover {
              background-position: left top;
              transform: scale(1.1);
              color: #fff;
            }
          }
    }
}

// Grid section
.grid_backg{
    background-color: #172026;
    .container{
        padding: 96px 20px;

        h2{
            font-size: 42px;
            font-weight: 800;
            margin-bottom: 16px;
        }
        h3{
            color: #e6007a;
            font-weight: 400;
            font-size: 20px;
        }span{
            color: #fff;
            cursor: pointer;
        }
        h4{
            font-size: 24px;
            font-weight: 700;
        }
        p{
            font-size: 18px;
        }
    }
}
// Grid section end

// Cards section
.card_backbg{
    .container{
        padding: 96px 20px;
        .card{border: none;}
        h2{
            font-size: 42px;
            font-weight: 800;
            margin-bottom: 16px;
        }
        p{
            font-size: 22px;
            color: #e6007a;
            font-weight: bold;
        }
        h5{
            font-weight: 500;
            font-size: 17px;
        }
    }
    button {
        background-color: transparent;
        text-decoration: none;
        color: #e6007a;
        border: 2px solid #e6007a;
        padding: 15px 20px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 650;

        background: linear-gradient(to right, #e6007a 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.2s ease-out;
        &:hover {
          background-position: left top;
          transform: scale(1.1);
          color: #fff;
        }
      }
}
//Cards section end

// ////////////////////////////////////////Contact page ////////////////////////////////////////////////// 

.hero_backbg{
    .container{
        padding: 96px 0;
        h2{
            font-size: 54px;
            font-weight: 800;
            margin-bottom: 16px;
        }
    }
}

.connect_botm{
    .container{
        padding: 96px 0;
        h3{
            font-size: 42px;
            font-weight: 800;
            margin-bottom: 16px;
        }
        button {
            background-color: transparent;
            text-decoration: none;
            color: #e6007a;
            border: 2px solid #e6007a;
            padding: 15px 20px;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 650;
    
            background: linear-gradient(to right, #e6007a 50%, transparent 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 0.2s ease-out;
            &:hover {
              background-position: left top;
              transform: scale(1.1);
              color: #fff;
            }
          }
    }
}